<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcours Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
</head>

<body class="p-6 bg-gray-100">

    <div class="container mx-auto">
        <div>
          <h2 class="text-2xl font-bold mb-4">Formations Categories</h2>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
            <div *ngFor="let parcours of parcoursList" 
                 [ngClass]="parcours.id === selectedParcours ? 'border-4 border-blue-500' : ''"
                 class="bg-white p-6 rounded-lg shadow cursor-pointer"
                 (click)="selectParcours(parcours.id)">
              <div class="flex items-center mb-2">
                <img [src]="backendUrl + parcours.imageUrl" alt="{{ parcours.parcoursName }} Image" class="rounded-full h-10 w-10 object-cover">
                <h3 class="text-lg font-semibold ml-4">{{ parcours.parcoursName }}</h3>
              </div>
              <p class="text-gray-700">{{ parcours.parcoursDescription }}</p>
              <p class="text-black font-bold mt-2">{{parcours.stepsCount}} Modules</p>
              <!-- <p class="text-gray-500">Apr 2, 2023</p> -->
            </div>
          </div>
        </div>
      </div>
      
      
      
    <!-- 
    
    -->
    <div class="mt-8">
        <h3 class="text-2xl font-semibold mb-4">My Modules Progress</h3>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="parcours-card bg-white rounded-lg shadow-md overflow-hidden"
                *ngFor="let step of steps; let i = index">
                <ng-container *ngIf="step.imageUrl; else defaultImage">
                    <img [src]="backendUrl + step.imageUrl" alt="{{ step.title }}" class="w-full h-32 object-cover">
                  </ng-container>
                  <ng-template #defaultImage>
                    <img src="assets/learn.jpg" alt="{{ step.title }}" class="w-full h-32 object-cover">
                  </ng-template>

                <div class="p-4">
                    <div class="flex items-center justify-between">
                        <div>
                            <h3 class="text-xl font-semibold">{{ step.title }}</h3>
                            <p class="text-gray-500">{{ step.category }}</p>
                        </div>
                    </div>
                    <div class="progress-bar mt-4 bg-gray-200 rounded-full h-2">
                        <div class="progress bg-green-500 h-2 rounded-full" [style.width.%]="step.completed ? 100 : 0">
                        </div>
                    </div>
                    <div class="details mt-4 flex items-center justify-between">
                        <div class="flex items-center space-x-2">
                            <img src="assets/Time-Circle.png" alt="Time Icon" class="h-5 w-5">
                            <span>{{ step.durationInMinutes }} Hours</span>
                        </div>
                        <div>
                            <span *ngIf="isStepLocked(step)" class="flex items-center space-x-2">
                                <img src="assets/lock.png" alt="Locked Icon" class="h-5 w-5"> <span>Locked</span>
                            </span>
                            <button *ngIf="!isStepLocked(step) && !step.completed && !step.startTime"
                                (click)="confirmStart(step)"
                                class="bg-blue-500 text-white px-4 py-1 rounded-full hover:bg-blue-600">
                                Start
                            </button>
                            <button *ngIf="isStepStarted(step) && !isStepLockedAfterFinishTime(step)" (click)="navigateToStartedStep(step)"
                                class="bg-green-500 text-white px-4 py-1 rounded-full hover:bg-green-600">
                                Continue
                            </button>
                            <button *ngIf="isStepLockedAfterFinishTime(step)"
                                class="bg-red-500 text-white px-4 py-1 rounded-full cursor-not-allowed">
                                Finished
                            </button>
                        </div>
                    </div>
                </div>
            </div>
                <!-- Tailwind CSS Modal Dialog -->
                <div *ngIf="showConfirmationModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true">

                <!-- <div *ngIf="showConfirmationModal" class="fixed inset-0 bg-opacity-150 transition-opacity"> -->

                <!-- <div *ngIf="showConfirmationModal" class="fixed inset-0 z-10 w-screen overflow-y-auto"> -->
                    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                        <div
                            class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                            <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                                <div class="sm:flex sm:items-start">
                                    <div
                                        class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-blue-100 sm:mx-0 sm:h-10 sm:w-10">
                                        <svg class="h-6 w-6 text-green-600" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                                        </svg>
                                    </div>
                                    <div
                                        class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                                        <h3 class="text-base font-semibold leading-6 text-gray-900"
                                            id="modal-title">Start The Step: {{ currentStep?.title }}</h3>
                                        <div class="mt-2">
                                            <p class="text-sm text-gray-500">Are you sure you want to start this step?
                                                This action cannot be undone.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                                <button type="button"
                                    (click)="deactivateAccount()"
                                    class="inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 sm:ml-3 sm:w-auto">Start
                                    Step</button>
                                <button type="button"
                                    (click)="cancelDeactivation()"
                                    class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Tailwind CSS Modal Dialog -->



        </div>
    </div>

</body>

</html>
