<aside class="sidebar" [class.hidden]="!isVisible">
    <div class="logo" [routerLink] ="['/']">
      <img src="assets/logo.png" alt="IT Learning Logo">
    </div>

    <div class="tasks">
      <h1>Admin Interface</h1>
      <ul>
        <li><a href="/list-formations"><img src="assets/task-icon.png" alt="Task Icon"> List Formations</a></li>
        <li><a href="/list-parcours"><img src="assets/task-icon.png" alt="Task Icon"> List Modules</a></li>
        <li><a href="/manage-formations"><img src="assets/task-icon.png" alt="Task Icon"> Manage Formations</a></li>
        <li><a href="/manage-parcours"><img src="assets/task-icon.png" alt="Task Icon"> Manage Modules</a></li>
      </ul>
    </div>
   
   
  </aside>  